.card-column
  - cards_histogram = current_player.resources.map(&:value).sort.inject({}){ |h, value| h[value] ||= 0; h[value] += 1; h}
  - cards_histogram.sort{|a,b| a[0] <=> b[0]}.each_with_index do |tuple, i|
    - card = Card.new(name: "resource", value: tuple[0])
    .card{ style: "top: #{40 * i}px; left: 0px;" }
      = image_tag "/assets/cards/#{card.card_image}"
      = "x #{tuple[1]}"

.card-column
  - cards_histogram = current_player.allies.map(&:value).sort.inject({}){ |h, value| h[value] ||= 0; h[value] += 1; h}
  - cards_histogram.sort{|a,b| a[0] <=> b[0]}.each_with_index do |tuple, i|
    - card = Card.new(name: "ally", value: tuple[0])
    .card{ style: "top: #{40 * i}px; left: 150px;" }
      = image_tag "/assets/cards/#{card.card_image}"
      = "x #{tuple[1]}"

.card-column
  - cards_histogram = current_player.distractions.map(&:value).sort.inject({}){ |h, value| h[value] ||= 0; h[value] += 1; h}
  - cards_histogram.sort{|a,b| a[0] <=> b[0]}.each_with_index do |tuple, i|
    - card = Card.new(name: "distraction", value: tuple[0])
    .card{ style: "top: #{40 * i}px; left: 300px;" }
      = image_tag "/assets/cards/#{card.card_image}"
      = "x #{tuple[1]}"
