%p.small
  Do you want assistance in this battle?

.card-column
  - cards_histogram = current_player.allies.map(&:value).sort.inject({}){ |h, value| h[value] ||= 0; h[value] += 1; h}
  - cards_histogram.sort{|a,b| a[0] <=> b[0]}.each_with_index do |tuple, i|
    - card = Card.new(name: "ally", value: tuple[0])
    .card{ style: "top: #{40 * i}px; left: 150px;", data: { name: "ally", value: card.value } }
      %img{ src: "/assets/cards/#{card.card_image}" }
      = "x #{tuple[1]}"

.card-column
  - cards_histogram = current_player.distractions.map(&:value).sort.inject({}){ |h, value| h[value] ||= 0; h[value] += 1; h}
  - cards_histogram.sort{|a,b| a[0] <=> b[0]}.each_with_index do |tuple, i|
    - card = Card.new(name: "distraction", value: tuple[0])
    .card{ style: "top: #{40 * i}px; left: 150px;", data: { name: "distraction", value: card.value } }
      %img{ src: "/assets/cards/#{card.card_image}" }
      = "x #{tuple[1]}"

.encounter-button-container.f-r
  .btn#continue-button
    Continue
