- if card
  .card-column.mt-1
    .card{ style: "top: 0px" }
      = image_tag "/assets/cards/#{card.card_image}"

  - if current_player.allies.any?
    - show_or = true
    .card-column.mt-1
      .mt-minus-1
        Choose an ally:
      - current_player.allies.sort_by(&:value).each_with_index do |card, i|
        .card{ style: "top: #{60 * i}px", data: { type: "ally", value: card.value } }
          = image_tag "/assets/cards/#{card.card}"

  - if current_player.distractions.any?
    .card-column.mt-1
      .mt-minus-1
        - show_or ? "OR choose a distraction:" : "Choose a distraction:"
      - current_player.distractions.sort_by(&:value).each_with_index do |card, i|
        .card{ style: "top: #{60 * i}px", data: { type: "distraction", value: card.value } }
          = image_tag "/assets/cards/#{card.card}"

  .encounter-button-container
    .btn#roll-for-encounter
      Roll Dice
