%h2
  The Black Market
%h3
  Round #{game.round + 1}
  %br
  .player-indicator{style: "background-color: #{@current_player.color};"}
    = current_player.name[0]
  #{current_player.name[1..-1]}'s Turn
  %br
  = current_space.name
- if game.players[game.turn] == current_player && connected_player == current_player
  .btn#roll-to-move-button
    Roll to Move
- if game.players[game.turn] == current_player && connected_player == current_player
  .btn#draw-a-card-button
    Draw a Card
  - players_on_square = game.players.select{|player| player != current_player && player.position == current_player.position}
  - if players_on_square.any? && connected_player == current_player
    .btn.trade-button
      Trade cards
    = select_tag(:trade_with, options_from_collection_for_select(players_on_square, "id", "name"))


  -# = button_to "Roll to Move", { action: "roll_to_move" }, remote: true, html: { id: "move-button", class: "btn" }
