%h3
  Players
- @players.each do |player|
  - player_class = player == @current_player ? "current" : ""
  - current_player_id = player == current_player ? 'the-current-player' : ''
  .player-li{id: "#{current_player_id}", class: "#{player_class}", style: "background-color: #{Player::COLORS[player.color.to_sym]}", data: { position: "#{player.position}", name: "#{player.name}" }}
    = player.name

#current-player{ data: { name: "#{@current_player.name}" } }
