#player-roll-container.roll-container.fadeIn.n-d
  %p
    = "#{@current_player.name} rolled #{player_result}"

#opponent-roll-container.roll-container.fadeIn.n-d
  %p
    = "#{@current_player.name}'s opponent rolled #{opponent_result}"
  .encounter-button-container
    .btn#show-result-button
      Continue
