#player-roll-container.takeover.fadeIn.n-d
  %p
    = "#{current_player.name} rolled "
    %span#player-roll-value
      = player_result

#opponent-roll-container.takeover.fadeIn.n-d
  %p
    = "#{current_player.name}'s opponent rolled "
    %span#opponent-roll-value
      = opponent_result

.encounter-button-container
  .btn#continue-button
    Continue
