.final
  It was a long night filled with numerous victories and defeats. When your
  party gathers to discuss the outcome of your efforts, you tally up your wins
  and losses.

  - game.players.each do |player|
    .result
      - if player.success
        = "#{player.name} delivered #{pluralize(player.resources.map(&:value).sum, 'resource')}."
      - else
        = "#{player.name} was thwarted by the city's guards}."

  %p
    Total resources brought to the Night Market:
    %br
    %span.x-large
      = game.players.successful.flat_map(&:resources).map(&:value).sum
