#game

  #game_info
    = render partial: "game_info", locals: { game: @game, current_player: @current_player, current_space: @current_space, connected_player: @connected_player }

  #dice-result-container.takeover.fadeIn
    = render partial: "dice_result", locals: { result: @result }

  #drawn-card.takeover.fadeIn
    = render partial: "drawn_card", locals: { card: @card }

  #board
    = render partial: "board", locals: { current_player: @current_player, spaces: @spaces, players: @players }

  #cards.takeover.fadeIn.n-d
    = render partial: "choose_card", locals: { current_player: @current_player, card: Card.new }

  #encounter.takeover.fadeIn.n-d
    = render partial: "encounter", locals: { current_player: @current_player, card: @card }

  #players
    = render partial: "players", locals: { players: @players, current_player: @current_player }

  #the-end.takeover.fadeIn.n-d

#this-player{ data: { name: "#{@connected_player.name}"} }
