%p
  Before you begin, be sure to read over the
  = link_to 'background', background_path
  and
  = link_to 'rules.', rules_path

- if @games.any?
  %h2
    Join an Existing Game

  %ul
    - @games.map do |game|
      %li
        = link_to "#{game.name} (#{game.players.count} Players)", game

= button_to "New Game", games_path, method: :post
